/* custom fonts  */
@font-face {
  font-family: "Casta-Thin";
  src: local("Casta-Thin"),
    url("./fonts/Casta-Thin.otf") format("truetype");
    
}

@font-face {
  font-family: "EternityTomorrow-Regular";
  src: local("EternityTomorrow-Regular"),
  url("./fonts/EternityTomorrow-Regular.ttf");
}


body {
  margin: 0;
  color: seashell;
  text-shadow: #372549, 5px, 10px;
  font-family: 'Casta-Thin';
  background: rgb(37,38,73);
  background: radial-gradient(circle, rgba(37,38,73,1) 0%, rgba(135,173,192,1) 12%, rgba(1,1,9,1) 78%);
  background-size: auto;
}

header {
  font-family: "EternityTomorrow-Regular";
  color:seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Andrea{ 
  font-size: 60px;

}
ul {
  list-style: none;
}

a {
  color: seashell;
  text-decoration: none;
  font-size: 35px;
  margin: 15px 
}

.About {
  display: flex; 
  align-items: center;
  margin: 10px;
}

h2 {
  color: seashell;
  font-family: 'Casta-Thin';
  margin: 35px;
}
img {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px 10px #372549;
}

p {
  font-size: 25px;
  font-weight: bolder;
  margin: 15px;
  align-items: center;
  text-shadow: seashell, 6px, 5px ;

}

.img-thumbnail {
  width: 10%;
  height: 100px;
  filter: grayscale(100%)
}
.modalImg {
  width: 35%;
  height: 300px
}
.resumeCloseBtn {
  color:#372549;
  font-size: 30px;
}

.resumeThumb{
  width: 300px;
  
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: seashell;
  font-family: 'Casta-Thin';
	cursor: pointer;
	font-size: 24px;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

.Contact {
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

label {
  margin: 15px;
  font-size: 30px;
}

.btn {
  border: 1px solid;
  margin-top: 15px;
}

 .contact {
  border: 5px solid;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.touch { 
  font-size: 45px;
}

.footer {
  font-size: 20px;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
}

.linkedIn {
  font-size: 20px;
}

.icon {
  width: 32px;
}

.thanks {
  font-size: 25px;
  margin: 0px;
  font-weight: bolder;
  align-items: center;
  text-shadow: seashell, 6px, 5px ;
}