/* custom fonts  */
@font-face {
  font-family: "Casta-Thin";
  src: local("Casta-Thin"),
    url("./fonts/Casta-Thin.otf") format("truetype");
    
}

@font-face {
  font-family: "EternityTomorrow-Regular";
  src: local("EternityTomorrow-Regular"),
  url("./fonts/EternityTomorrow-Regular.ttf");
}


body {
  margin: 0;
  color: seashell;
  text-shadow: #372549, 5px, 10px;
  font-family: 'Casta-Thin';
  background-image: url("../src/assets/images/oscar-mackey-kjpnCniS3zE-unsplash.jpg");
  background-size: 100;
}

header {
  font-family: "EternityTomorrow-Regular";
  color:seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Andrea{ 
  font-size: 60px;
  margin-left: 24px;

}
ul {
  list-style: none;
}

a {
  color: seashell;
  text-decoration: none;
  font-size: 35px;
  margin: 15px 
}

.About {
  display: flex; 
  align-items: center;
  margin: 10px;
}

h2 {
  color: seashell;
  font-family: 'Casta-Thin';
  margin: 35px;
}
img {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px 10px #372549;
}

p {
  font-size: 25px;
  font-weight: bolder;
  margin: 15px;
  align-items: center;
  text-shadow: seashell, 6px, 5px ;
}

.hey {
  width: 200px;
  height: 200px;
  margin-left: 500px
}

.welcome {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 150px;

}

.img-thumbnail {
  width: 10%;
  height: 100px;
  filter: grayscale(100%)
}
.modalImg {
  width: 75%;
  height: px
}
.resumeCloseBtn {
  color:#372549;
  font-size: 30px;
}

.resumeThumb{
  width: 300px;
  margin-left: 300px;
  
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: seashell;
  font-family: 'Casta-Thin';
	cursor: pointer;
	font-size: 24px;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

.Contact {
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.contactForm {
  height: 400px;
  align-content: center;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

label {
  margin: 15px;
  font-size: 30px;
}

.btn {
  border: 1px solid;
  margin-top: 15px;
}

 .contact {
  padding: 15px;
  display: flex;
  height: 450px;
  flex-direction: column;
  align-items: center;
  margin: 20px, 20px, 50px, 20px;
}

.contactSection {
  margin: 10px, 10px, 1000px, 10px;
}

.touch { 
  font-size: 45px;
}

.footer {
  font-size: 20px;
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

.linkedIn {
  font-size: 20px;
}

.icon {
  width: 32px;
}

.thanks {
  font-size: 25px;
  margin: 0px;
  font-weight: bolder;
  align-items: center;
  text-shadow: seashell, 6px, 5px ;
}

.homeMe {
  font-size: 25px;
}

@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
}
  h1 { 
    font-size: 20px;
    margin-left: 50px
  }
  a { 
    font-size: 12px
  }
  .About {
    display: flex;
    flex-direction: column;
  }

  .contactForm {
    display: flex;
  }

  .welcome {
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 50px 50px 10px
    }
  

  .hey {
    margin-left:20px

  }
  } 
  
